[submodule "mf"]
	path = mf
	url = https://www.github.com/floriansteinberg/mf
[submodule "rlzrs"]
	path = rlzrs
	url = https://www.github.com/floriansteinberg/rlzrs
[submodule "metric"]
	path = metric
	url = https://www.github.com/floriansteinberg/metric
[submodule "incone"]
	path = incone
	url = https://www.github.com/floriansteinberg/incone
